body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: grey; */
  color: #fff;
}

/* Main */
.main {
  display: flex;
  height: 100vh;
}

/* 



                                            Topbar



*/

.topbar {
  position: fixed;
  top: 0;
  height: 42px;
  width: 100%;
  background-color: black;
}

/* Main logo on left side  */
.topbar #btn_logo {
  position: absolute;
  height: 40px;
  left: 0;
}

/* Home && Search  */
.topbar .home_search {
  position: absolute;
  height: 95%;
  width: 500px;
  left: 500px;
  display: flex;
  align-items: center;
}

/* Home button  */
.home_search #btn_home {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 33px;
  left: 0;
  background-color: rgba(125, 125, 125, 0.5);
  border-radius: 50%;
  padding: 5px;
}

.home_search #home_search {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding:0 10px;
  width: 430px;
  height: 95%;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.4);
}

.home_search #home_search img {
  height: 25px;
  width:25px;
  margin:5px;
  background-color: none;
}

.home_search #home_search #search_txt{
    display: flex;
    flex:1;
    margin:auto;
    padding:auto;
}
.home_search #home_search #search_txt input{
    background-color: transparent;
    color:white;
    border:none;
    outline:none;
    font-size:16px;
    font-weight: 600;
}
/* Install_app, Notifiaction, team and profile */

.topbar .group1 {
  position: absolute;
  width: 500px;
  height: 100%;
  right: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 15px;
}
.topbar .group1 a img {
  height: 25px;
}
.topbar .group1 a {
  text-decoration: none;
}

.topbar .group1 #grp1_install {
  display: flex;
  align-items: center;
  width: 110px;
  font-size: 15px;
  color: #fff;
}

.topbar .group1 a #grp1_subscription {
  line-height: 20px;
  border-radius: 10px;
  padding: 5px;
  font-weight: 700;
  font-size: 15px;
  color: #000;
  background-color: #fff;
}

.topbar .group1 a #grp1_profile {
  height: 38px;
}

/* 




                                                              Sidebar 




*/
.sidebar_main {
  position:fixed;
  top:42px;
  display:flex;
  width: 450px;
  height:100vh;
  background-color: black;
}

.sidebar_main .sidebar{
  height:100%;
  width:calc(100% - 20px);
  padding-right:10px;
  display:flex;
  flex-direction:column;
  background-color: rgba(40, 40, 40, 0.5);
}


/* Your library and create button  */
.sidebar .sidebar_group1{
  height: 60px;
  width: 100%;
  display:flex;
  align-items: center;
  margin:6px;
}

/* Your Library*/
.sidebar .sidebar_group1 .side_grp1_library{
  height:30px;
  position:absolute;
  margin:auto 6px;
  display:flex;
  align-items:center;
}

.sidebar .sidebar_group1 .side_grp1_library img{
  height:30px;
  margin-right:10px;
  display:none;
}


/* Create Button  */
.sidebar .sidebar_group1 .side_grp1_create {
  height:15px;
  position:absolute;
  right:0;
  margin-right:15px;
  display: flex;
  align-items: center;
  margin-left:auto;
  background-color: rgba(40, 40, 40, 0.8);
  padding:10px;
  border-radius:40px;
}

.sidebar .sidebar_group1 .side_grp1_create img{
  height:25px;
  margin-right:5px;
}
.sidebar .sidebar_group1 .side_grp1_create a{
  font-weight:900;
}



.sidebar .side_group2{
  display:flex;
  flex-direction: column;
  height:100px;
  width:calc(100% - 40px);
  margin:5px 0;
  padding:20px;
  border-radius:10px;
  background-color: rgba(40, 40, 40, 0.6);
}
.sidebar .side_group2 h4{
  margin:0 0;
}
.sidebar .side_group2 h5{
  margin:12px 0;
}

.sidebar .side_group2 h2{
  line-height:1.2;
  width: fit-content;
  text-align:center;
  display:inline-block;
  padding:5px 12px;
  font-weight: 700;
  font-size: 15px;
  border-radius:30px;
  color: #000;
  background-color: #fff;
}








/* 








                                                                      Main Content 








*/
.main_content {
  background-color: rgba(40, 40, 40, 1);
  flex: 1;
}
.music_player {
  background-color: blue;
  position: fixed;
  bottom: 0;
  height: 72px;
  width: 100%;
}
